/* Fonts */
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("../font/HelveticaNeueMedium.ttf") format("truetype");
}

/* Body */
body {
  font-family: HelveticaNeueMedium;
  margin: 0;
  padding: 0;
  min-height: 100%;
  direction: ltr;
  text-align: left;
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

/* Common Styles */
.container-content {
  width: 1300px;
  margin: 0 auto;
}
a {
  text-decoration: none !important;
}
img {
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  user-drag: none !important;
  user-select: none !important;
  pointer-events: none !important;
}
.pointer {
  cursor: pointer;
}
.display-block {
  display: block !important;
}

/* media */
@media only screen and (max-width: 1500px) {
  .container-content {
    padding: 0 4rem !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 940px) {
  .container-content {
    padding: 0 2rem !important;
    width: 100% !important;
  }
  .display-none-sm {
    display: none !important;
  }
  .section_content{
    display: flex !important;
    flex-direction : column !important;
  }
  .section_content .right_content{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1240px) {
  .section_content{
    grid-template-columns: 50% 50% !important;
  }
}

/* Colors */
.bg-primary-light {
  background-color: #353ea3 !important;
}
.bg-primary-dark {
 /* background-color: #14205d !important;*/
 background-color: #101f61 !important;
}
.bg-warning-light {
  background-color: #f5f5fa !important;
}
.btn-text-primary-light {
  color: #353ea3 !important;
}
.btn-text-primary-dark {
  color: #14205d !important;
}
.auth-bg-color {
  background-color: #FAEEE2 !important;
}

/* pages */
.moving-home {
  border-radius: 70px;
  border: solid 2px #353ea3;
  padding: 2.5rem 3rem !important;
}
.center-character {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.shadow-effect {
  /* filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ))
   */
   box-shadow: rgb(0 0 0 / 20%) 1px 2px 7px 0px;
}
.categories .category{
  align-self: center;
  height: 55px;
  display: flex;
}

.categories .category:hover{
  color: #353EA3;
}

.options .warning{
  color: #E82727;
  font-size: 16px;
  font-style: italic;
  text-align: end;
  text-decoration: underline;
 /* display: none;*/
}

.removals_items .item_button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.removals_items li>span{
  padding-right: 30px;
  align-self: center;
}
.removals_items li>a{
  padding: 5px 6px;
  background-color: #353EA3;
  color: white !important;
  border-radius: 11px;
  cursor: pointer;
}
.removals_items div.dropdown-menu{
  padding: 5px 5px ;
}
.removals_items li.dropdown-item{
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}

.cart_panel .carts .cart{
  background-color: #353EA3;
  display: flex;
  align-items: center;
  border-radius: 9px;
  justify-content: space-between;
  color: white;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.cart_panel .carts .cart .operation{
  display: flex;
  align-items: center;
}
.cart_panel .carts .cart .operation .minus, .cart_panel .carts .cart .operation .plus{
  width: 15px;
  height: 15px;
  border-radius: 5rem;
  background-color: white;
  color: #353EA3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart_panel .carts .cart .operation .amount{
  padding: 0px 10px 0px 10px;
}

.cart_panel .carts .cart .title{
  font-size: 12px;
}
div.men.car>div{
  padding: 4rem 0px;
}
div.men{
  display: flex;
  justify-content: center;
}
.men .men_count{
  left: -30px;
  position: relative;
  /* margin-top: 3rem; */
}
.men .men_image{
  z-index: 1  ;
  padding-left: 15px;
  display: flex;
    flex-direction: column-reverse;

  }
  .men .men_count .number_panel h1{
    line-height: 126px;

  }
.men .men_count .number_panel{
  /* height: 100%; */
  padding: 65px 55px;
}

.select_car{
  display: flex;
  flex-direction: row;
  min-height: 290px;
  align-items: center;
  justify-content: center;
}
.select_car .arrow{
  align-self: center;
}
.select_car .car_image{
  width: 80%;
  height: 300px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
div.car_title_section{
  background-color: #353ea3;
  float: right;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  color: white;
  width: 280px;
  align-items: center;
  padding-left: 20px;
}
.car_title_section .car_title{
  padding: 7px;
}
.stairs>div.row{
  margin: 0px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  /* width: 230px; */
}

.dropdown button.dropdown-toggle{
  padding: 1rem;
  background-color: white;
  color: #353EA3;
    border: 1px solid #353ea3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 180px;
}
.stairs .dropdown{
  padding: 0px;
}
.congestion .row{
  margin: 0px;
  justify-content: space-around;
  /* height: 100%; */
}
.congestion .button{
  border:1px solid #353EA3;
  border-radius: 5px;
  text-align: center;
  font: 20px;
  color: #353EA3;
  font-weight: bold;
  cursor: pointer;
}
.congestion .button:hover{
  border:1px solid #0015ff;
  color: #0015ff;
}

.shadow-effect h5{
  color: white;
}
.calendar_weekdays div{
  color: black !important;
}
.calendar_weekdays{
  background-color: white;
  color: black;
}

.select_month{ 
  display: flex;
  justify-content: center;
}
.select_month .dropdown .dropdown-menu a{
  padding: 0.25rem 1rem;
  border-bottom: 1px solid rgb(231, 231, 231);
  text-align: center;

}
.select_month .dropdown .dropdown-menu{
  min-width: 0px;
  overflow: auto;
  width: 120px;
  max-height: 500px;
}
.select_month .dropdown button.dropdown-toggle::after{
  position: absolute;
  left: 120px;
  top: 30px;
  transform: rotate(-45deg);
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}
.select_month .dropdown button.dropdown-toggle{
  min-width: fit-content;
  justify-content: center;
  box-shadow: 0px 2px 5px rgb(119 119 119 / 50%);
  border-radius: 5px;
  color: #2E2E2E;
  border: none;
  font-weight: bold;
  width: 120px;
}

/* final calculation ====================================================*/
.content-wrapper.p-40{
  padding-top: 40px;
}
.content-wrapper.m-40{
  margin-top: 40px;
}
.content-wrapper h3{
  color:#434343;
  font-family: "Helvetica Neue";
  font-size: 36px;
  font-weight: normal;
}
.content-wrapper input{
  outline: none;
  border: 0.5px solid #707070;
  border-radius: 8px;
  color: #8b8b8b;
  /* padding:1.5rem 0.75rem */
}
.content-wrapper{
  border-top-right-radius: 3rem;  
  /* border: 0.5px solid #707070;  */
  background: #ffffff;
  padding: 40px 5rem 65px 5rem;
}
/* profile section */

.profile-content span{
  color: #707070;
  font-size: 20px;
}
.profile-section .profile-img .profile-image{
  height: 99px;
  width: 99px;
  border-radius: 50%;
}
/* header css */
.header .nav{
  justify-content: center;
}
.header .nav-link{
  color: #fff;
}

/* booking details & address details*/
.booking-form{
  padding-right: 5rem;
}
.booking-detail input:focus{
  outline: none;
}
.check-box-wrapper .useContact span{
  color: #8b8b8b;
}
.check-box-wrapper p{
  margin-bottom: 0;
  color: #8b8b8b;
  font-size: 12px;
}
.btn-wrapper{
  display: flex;
  justify-content: space-between;
}
.previous-btn{
  background: rgba(229,229,229,0.76 );
  border-radius: 7px;
  padding: 15px 50px;
  color: #5c5c5c;
  font-size: 29px;
  border: 0;
}
.next-btn{
  background-color: rgba(232,39,39,0.76 );
  color: #ffffff;
  font-size: 29px;
  padding: 15px 50px;
  border: 0;
}
/* Right panel - extra-info and map */
.extra-detail{
  text-transform: uppercase;
  color: #353EA3;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  padding: 20px;
  border-top-left-radius: 3rem;
  /* border-radius: 10px; */
  /* border: 0.5px solid #707070;  */
  background: #ffffff;
}
.extra-detail p:nth-child(2){
  font-size: 12px;
  color: black;
}
.map-wrapper{
  /* padding: 20px; */
  /* border-radius: 10px; */
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  /* border: 0.5px solid #707070;  */
  background: #ffffff;
  font-size: 15px;
}
.map-wrapper .content p{
  color: #707070;
  margin: 0;
}
.map-wrapper .content span{
  font-weight: 500;
  color: black;
  font-family: 'Helvetica Neue';
  font-size: 17px;
}
.map-content-wrapper{
  padding: 20px;
}
.form-outline .form-control{
  border: 1px solid grey !important;
}

.content-wrapper div.input-block {
  position: relative;

}

.content-wrapper div.input-block input {
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  color: #495055;
  padding: 0.7rem 0.75rem;
  border-radius: 8px;
  /* border: 2px solid  #D9D9D9; */
  /* outline:none; */
}

.content-wrapper div.input-block span.placeholder {
  position: absolute;
  /* margin: 17px 0; */
  padding: 0 4px;
  font-family: Roboto, sans-serif;

  color:  #6c757d;

  display: flex;
  align-items: center;

  font-size: 1rem;
  font-weight: 400;

  top: 12px;
  left: 17px;

  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}

.content-wrapper div.input-block input:valid + span.placeholder,
.content-wrapper div.input-block input:focus + span.placeholder {
transform: scale(0.8) translateY(-24px);
background: #fff;
}

.content-wrapper div.input-block input:focus{
  color: #495057;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.content-wrapper div.input-block input:focus + span.placeholder {
color: #284B63;
}
.address-form{
  padding-right: 5rem;
}

.shadow-effect>.row, .shadow-effect>.panel_row, .cart_panel.shadow-effect{
  min-height: 530px;

}

.shadow-effect>.panel_row{
    display: flex;
  justify-content: center;
  flex-direction: column;
}
.shadow-effect .right_panel{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.car-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.car_title_container{
  display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
.carousel-item{
  min-height: 280px;

}
.carousel-item.active{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.men.car div>div>img{
  width: 320px;
}
.price_page div.d-flex{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.price_page .title{
  color: #353EA3;
  font-size: 32px;
}
.price_page .price_panel{
  width: 50%;
    color: white;
    background-color: #353EA3;
    border-radius: 3rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 35px 35px 35px;
}
.price_page .price_panel .price{
  font-size: 90px;
  height: 80%;
}
button.modal_button{
  display: none;
}
/* billing======================= */
.modal.show .modal-dialog{
  margin-top: 19vh;
}
.modal-content img{
  padding: 0px 2rem ;
}
.modal-header{
  border-bottom: 0px;
  padding: 2rem 2rem 1rem 2rem;
}
.modal-content .content-wrapper{
  padding: 0px 2rem;
}
.modal-body div.row div.col-md-4{
  padding: 1rem 15px;
}
.modal-body .price{
  color: black;
  padding-top: 2rem;
}
.price .price_number{
  font-weight: bold;
  font-size: 23px;
}
.modal-footer{
  background-color: #EAEAEA;
  font-size: 11px;
  padding: 1rem 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.modal-content{
  border-radius: 1rem;
}
.book_now{
  background-color: #353EA3;
  color: white;
}
button.cancel{
  background: white;
  color: #A8A8A8;
  margin-right: 5px;
}

.categories .pointer img{
  width: 48px;
}
.container-content img.service{
  transition: 0.5s all ease-in-out;
}
.container-content .service_card:hover img.service{
  transform: scale(1.05);
}
.container-content .service_card{
  overflow: hidden;
}

.pointer.login a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weekday{
  color: white;
  width: 100%;
}
.cart_panel{
  min-height: 62%;
  
}
.previous_button>button , .next_button>button{
  width: 218px;
}

/* #dropdown-frame>i::before{
  color: #353EA3;
  position: relative;
  top: -42px;
  left: 600px;
  font-size: 2;
  display: inline-block;
  transform: rotate(270deg);
} */

 #dropdown-frame>i{
  width: 30px;
  height: 30px;
  border-top: 0px;
  /* display: inline-block; */
  position: absolute;
  border-bottom: 17px solid #353ea3;
  border-left: 15px solid #80808000;
  border-right: 15px solid #80808000;
  top: -30px;
  left: 610px;
 }

.booking-form .phone_number{
  display: flex;

}
.booking-form .phone_number input{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px;
}
.booking-form .phone_number button{
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border: 0.5px solid #707070;
  font-size: 20px;
  font-weight: 500;
  width: 35px;
}
.moving-home>.book-now h3{
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 0px;

}
.moving-home>.book-now p{
max-width: 300px;
font-size: 21px;
line-height: normal;
font-weight: bold;
color: black;
}
.moving-home>.book-now{
  justify-content: space-between;
align-items: center;
padding-left: 5rem;
padding-right: 5rem;
}
.moving-home>.book-now button{
  border-radius: 15px;
}
.moving-home>.d-flex>div>h1{
  font-size: 44px;
  color: black;
}
footer>div.footer{
  padding-top: 100px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.container-content .left_image{
  padding-right: 5px;
}
.container-content.main_body .left_image{
  padding-right: 5px;
  padding-top: 100px;
}
.container-content .left_image img{
  width: 100%;
  height:100%;
}
.container-content .right_content{
  padding-left: 10px;
}
.container-content .main_container_content{
  padding-top: 100px;
}
.container-content.service_category.services{
  grid-gap: 12px;
  margin-bottom: 50px;
}
.container-content.service_category{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.container-content.service_category >div img{
  /* padding-right: 0px;
  padding-left: 0px; */
  width: 100%;
}
.other-category>div> a >h5, .second-context{
  font-size: 21px !important;
}
footer span.display-block, footer span.display-block>h6{

}
footer .weekday h6{
  font-size: 18px;
}
footer .weekday h6, footer .weekday h4{
  font-weight: bold;
}
.location_input>div:first-child{
  padding-right: 5px;
  padding-left: 0px;

}
.location_input>div:nth-child(2){
  padding-left: 5px;
  padding-right: 0px;
}
.location_input div button{
  width: 100%;
}
img.waste_removals{
  width: 45px !important;
}
img.ebay{
  width: 44px !important;
}
img.storage{
  width: 51px !important;
}
#dropdown-frame>div{
  position: relative;
  left: 30px;
}


.img_wid_100{
  width: 100%;
}
.book_now_btn{
  margin-top: 15px;
}

.dropdown .dropdown-toggle{
  overflow: hidden;
}
#gmap_canvas{
  height: 280px;
  width: 100%;
  border-top-left-radius: 3rem;
}




/* ===========Google map ======================== */
.pac-item .pac-icon{
  opacity: 0;
}
.pac-item{
  border-top: 0px;
  padding: 5px 4px;
  color: #8B8B8B;
  font-size: 16px;

}
.pac-item-query{
  font-size: 16px;
  color: #8B8B8B;
}
.pac-item:nth-child(3){
  font-size: 16px;
}
.pac-logo:after{
  display: none;
}
#gmap_canvas .gmnoprint, #gmap_canvas button.gm-control-active.gm-fullscreen-control, #gmap_canvas button.gm-svpc, #gmap_canvas .gmnoprint>div{
  display: none;
}

.form-control{
  height: auto;
}
.panel_row > div > img{
  position: absolute;
  padding: 0.375rem 0.75rem;
  height: 50px;
}
#search{
  padding-left: 50px;
}

.modal-footer > .row > div{
  padding: 0px;
}
.modal-footer > .row:first-child{
}
.alert{
  padding: 0.1rem 0.5rem;
}
.section_content {
  display: grid;
  grid-template-columns: 65% 35%;
  /* padding-top: 5rem !important; */
}
.section_content .left_lmage  img{
  width: 100%;
}

.section_content .right_content{
  color: white;
  font-family: "Helvetica Neue";
  font-size: 19px;
  text-align: right;
  line-height:25px;
  font-weight:bold;
  display: flex;
    flex-direction: column;
    justify-content: center;

}
.reviews{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  gap: 6px;
  margin-top: 120px;
  align-items: center;
  margin-bottom: 60px;
}


.reviews .item{
  border-radius: 2rem;
  position: relative;
}
.reviews .item.left::after{
  position: absolute;
  left: calc(50% - 32px);
  content: ' ';
  border-left: 32px solid #ffffff00;
  border-right: 32px solid #ffffff00;
  border-top: 30px solid #7C0000;
}
.reviews .item.right::after{
  position: absolute;
  left: calc(50% - 32px);
  content: ' ';
  border-left: 32px solid #ffffff00;
  border-right: 32px solid #ffffff00;
  border-top: 30px solid #356A00;
}
.reviews .item.center::after{
  position: absolute;
  left: calc(50% - 32px);
  content: ' ';
  border-left: 32px solid #ffffff00;
  border-right: 32px solid #ffffff00;
  border-top: 30px solid #1A1818;
}


.reviews .item.left img.avatar, .reviews .item.right img.avatar{
  left: calc(50% - 39px);
  position: relative;
  top: -40px;
}
.reviews .item div{
  position: relative;
}
.reviews .item.left{
  background-color: #7C0000;
}

.reviews .item.center img.avatar{
  position: relative;
  top: -65px;
  left: calc(50% - 60px);

}
.reviews .item.center{
  background-color: #1A1818;
}
.reviews .item.right{
  background-color: #356A00;

}


.container-content.text{
  
font-family: "Helvetica Neue";
font-size: 20px;
font-weight: normal;
font-style: normal;
text-align: center;
letter-spacing: -50px;
color: #000000;
}
.container-content .item.center .text.content, .container-content .first_context{
  font-size: 20px;
  line-height: 15px;
}
.container-content .item.center .text.title {
  font-size: 24px;
}
.container-content .item .text.title {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: bold;
}
.container-content .item .text.content {
  font-family: "Helvetica Neue";
  font-size: 11px;
  font-weight: bold;
}
.container-content .item .text{
  color: white;
  font-family: "Helvetica Neue";


}

.container-content .item .star .text{
}
.container-content .item .star{
  text-align: center;
  top: -35px;
  width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container-content .item.center .star {
  width: 64%;
  top: -60px;
}

.container-content .item .text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-context div{
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Helvetica Neue";
  line-height: 21px;
}
.full-size img{
  width: 100%;
  height: 100%;
}
.full-size{
  margin-top: 50px;
}

.grid_house_type{
  display: grid;
  grid-template-columns: 50% 50%;
}

.dropdown_widget{
  display: flex;
  justify-content: space-around;

}

.dropdown div.dropdown-menu{
  border: 1px solid #353EA3;
  border-radius: 18px;
  margin-top: 10px;
}
.dropdown_widget .drop_item{
  padding: 20px;
  width: 150px;
}
.dropdown_widget .drop_item > div{
  display: flex;
  align-items: center;
  color: #353EA3;
  font-size: 20px;

}
.dropdown_widget .drop_item > div >img{
  padding-right: 10px;
}
.dropdown_widget .drop_item li{
  color: #A8A8A8;
  padding-top: 10px;
}
.dropdown_widget .drop_item li:hover{
  color: #353EA3;
  cursor: pointer;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.col-md-8, .modal-body .col-md-12{
  padding-right: 0px;
  padding-left: 0px;
}

/* ======================house type modal ========================================== */
.house_type .modal-content{
  /* width: 50vw; */
  max-width: 820px;
  padding: 4rem;
  font-size: 35px;
  font-weight: bold;
  font-family: "Helvetica Neue";
  line-height: 35px;
}
.house_type .modal-content img{
  padding: 0px;
}

.house_type .modal-content .section{
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-dialog.house_type {
  max-width: none;
  width: 43vw;
}
.modal-dialog.house_type .content-wrapper{
  padding: 0px;
}
.email_input{
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 20px;
}
.modal-dialog.house_type .next_button button{
  padding: 16px 30px !important; 
}
.modal-dialog.house_type .email_input input{
  padding: 14px 30px;
  font-size: 20px;
}
.modal-dialog .content-wrapper div.input-block input.active + span.placeholder{
  transform: scale(0.8) translateY(-31px);
    background: #fff;
}



.modal .modal-dialog .col-1,.modal .modal-dialog .col-2,.modal .modal-dialog .col-3,.modal .modal-dialog .col-4,.modal .modal-dialog .col-5,.modal .modal-dialog .col-6,.modal .modal-dialog .col-7,.modal .modal-dialog .col-8,.modal .modal-dialog .col-9,.modal .modal-dialog .col-10,.modal .modal-dialog .col-11,.modal .modal-dialog .col-12,.modal .modal-dialog .col,.modal .modal-dialog .col-auto{
  padding-left: 0px;
  padding-right: 0px;
}
.modal-payment-grid{
  display: grid;
  grid-template-columns: 32% 32% 31%;
  gap: 10px;
}
.footer-text{
  font-size: 20px;
}
.sevice_text_content{
  font-family: 'Helvetica Neue';
  font-weight: bold;

}
.sevice_text_content p{
  font-size: 20px;
  line-height: 22px;

}
.sevice_text_content h5{
  font-size: 30px;
  line-height: 60px;
  font-weight: bold;
}

.footer_weekday h4{
  font-size: 23px;
  font-weight: bold;
}
.trustpilot_logo{
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.fa-play::before{
  font-size: 19px;
}
.fa.fa-play{
  padding:14px !important;
}
.left_section{
  height: 128px;
}

.left_section h6{
  font-family: "HelveticaNeueMedium", Arial, sans-serif;
  font-size: 22px;

}
.col-md-72{
  flex: 0 0 72%;
    max-width: 72%;
}
.col-md-28{
  flex: 0 0 28%;
    max-width: 325px;
    padding-right: 0px;
}
.col-md-28 h6, .header_text_right h6{
  font-size: 19px;
  color: #8B8B8B;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.col-md-28 h1, .header_text_right h1{
  font-size: 45px;
  font-weight: bold;
  color: #353EA3;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.header_text h2{
font-size: 38px;
color: #434343;
}
.header_text h6{
  font-size: 20px;
  color: #707070;
}
.header_text{
  font-family: "Helvetica Neue", Arial, sans-serif;

}

.modal-footer .row{
  display: grid;
  grid-template-columns: 45% 55%;
  /* gap: 10px; */
}
.modal-footer button{
  padding: 0.5rem 1.3rem !important;
}
.right_context{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-wrapper.address-detail h3, .content-wrapper.booking-detail h3{
  padding-left: 15px;
}
.pick_date button.dropdown-toggle{
  padding: 0.375rem 0.75rem;
}
.useContact{
  display: none;
}