@media only screen and (max-width: 771px) {
    .congestion .button{
        margin-bottom: 10px !important;
        font-size: 15px !important;
    }
    .men .men_count .number_panel{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .men .men_count .number_panel h1{
        font-size: 100px !important;
    }
    div.car_title_section{
        width: 200px !important;
    }
    .men.car div>div>img{
        width: 250px;
    }
    .men .men_count .number_panel h1{
        line-height: 60px;
    }
    .shadow-effect > div.row{
        flex-direction: column;
        align-items: center;
    }
    .main-grid{
        display: block;
    }
    .shadow-effect .right_panel{
        max-width: 350px;
    }
    .right_panel .hour, .right_panel .minute{
        width: 100%;
    }
    .right_panel .hour >div, .right_panel .minute > div{
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
    .right_panel .hour >div >h1, .right_panel .minute > div > h1{
        font-size: 71px !important;
        font-weight: bold;
    }
    .removals_items li>span{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .removals_items div.dropdown-menu{
        width: 100%;
        transform: translateX(0px) !important;
        transform: translateY(60px) !important;
        border-width: 2px;
        border-color: #353DA3;
        border-radius: 18px;
    }
    .removals_items{
        justify-content: center;
    }
    .removals_items .item_button{
        border-color: #353DA3 !important;
        color: #353DA3;
        font-size: 15px;
        font-weight: bold;
    }
    .removals_items > div{
        max-width: 350px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .removals_items button>div{
        justify-content: center;
    }
    .col-md-72{
        flex: none;
        max-width: none;
        padding-right: 0px !important;
    }
    .select-item-text{
        font-size: 25px;
        font-weight: bold;
        color: #353DA3;
        text-align: center;
    }
    .shadow-effect .panel_row{
        padding-top: 0px  !important;
    }
    .shadow-effect .panel_row .pt-530{
        padding-top: 0px !important;
    }
    .modal-dialog.house_type .content-wrapper{
        width: 100%;
    }
    .email_input button h5{
        font-size: 13px;
    }
    .email_input button{
        padding: 14px 5px !important;
        width: 50%;
    }
    .email_input{
        margin-bottom: 0px !important;
        grid-template-columns: none;
        grid-template-rows: auto;
        justify-items: center;
    }
    .modal-dialog.house_type .modal-content{
        width: 80vw;
        margin: auto;
        padding: 2rem;
        min-width: auto;
    }
    .house_type .modal-content img{
        width: 50%;
    }
    .house_type .modal-content .section{
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        margin-bottom: 10px !important;
    }
    .modal-dialog.house_type{
        width: auto;
    }
    .container-content.mar5{
        margin-bottom: 20px !important;
    }
    .shadow-effect>.row, .shadow-effect>.panel_row, .cart_panel.shadow-effect{
        min-height: auto;
        padding-left: 0px !important;
        padding-right: 0px !important;
        justify-content: center;
    }
    .stairs.right_panel .dropdown div.dropdown-menu .dropdown_widget{
        flex-direction: column;
        align-items: center;
    }
    .stairs.right_panel .dropdown div.dropdown-menu{
        width: 100%;
        transform: translateY(54px) !important;
    }
    .button-group{
        max-width: 350px;
        margin:auto;
        padding-top: 26px !important;
        /* padding-left: 3rem; */
        /* padding-right: 3rem; */
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .button-group > a > button > h5{
        font-size: 11px;
        font-weight: bold;
    }
    .button-group > a > button{
        width: 100%;
        padding: 12px !important;
    }
    .dropdown button.dropdown-toggle span{
        font-size: 15px;
        font-weight: bold;
    }
    .dropdown button.dropdown-toggle{
        justify-content: center;
        font-size: 15px;
    }
    .location_input{
        padding-bottom: 0px !important;
    }

    .stairs.right_panel {
        height: 100%;
        align-items: center;
    }
    .stairs.right_panel >div{
        padding: 0px !important;
        max-width: 350px;
        width: 100%;
    }
    .stairs.right_panel h4{
        text-align: center;
        font-size: 13px;
        padding-top: 0px !important;
        margin-top: 20px;
    }
    .previous_button>button, .next_button>button {
        width: auto;
    }
    .house_type .shadow-effect{
        box-shadow: none;
    }
    .house_type .shadow-effect> div.row > div > div >h3{
        padding-right: 0px !important;
        padding-left: 0px !important;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: #353DA3 !important;
    }
    .house_type .shadow-effect> div.row > .bg-primary-light{
        background-color: white !important;
    }
    .bg-white-mobile{
        background-color: white !important; 
    }
    .service-container{
        margin-bottom: 40px;
      }
    .sevice_text_content .left_image img{
        border-top-left-radius: 55px;
        border-bottom-right-radius: 55px;
    }
    .bg-warning-light{
        background-color: white !important;
    }
    .footer-social>div{
        width: 260px;
    }
    .footer-social{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .faq{
        display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    }
    footer .col-md-5, footer .col-md-7{
        padding-right: 0px;
        padding-left: 0px;
    }
    .display-sm.footer-text>div>div{
        font-size: 15px;
        color: white;
        text-align: center;
        padding: 5px 0px;
        line-height: 16px;
        width: 260px;
    }
    .container-content .trustpilot_logo{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 50px;
    }
    .container-content .trustpilot_logo>div{
        width: fit-content !important;
    }
    .container-content .trustpilot_logo>div>img{
        width: 100% !important;
    }
.location_input .col-md-6, .location_input .col-md-5, .location_input .col-md-7{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 10px !important;

}
.display-none-sm {
    display: none !important;
  }
.display-sm {
    display: block !important;
  }

  header{
    padding: 30px 24px;
  }
  .location_input>div{
    padding: 0px !important;
    width: 100%;
  }
  .container-content.service_category.services div{
    display: none;
  }
  .container-content.service_category.services div:first-child{
    display: block !important;
  }

  .container-content.service_category{
    grid-template-columns: auto;
    padding: 0px !important;
  }
  .our-services-context{
    margin-bottom: 40px;
  }
  .book_now_btn{
    margin-bottom: -120px;
  }
  .moving-home>.book-now button{
    padding: 18px 35px !important;
    width: 193px;
    border-radius: 15px !important;
  }
  .moving-home>.book-now .bottom-book-now{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .moving-home>.book-now{
    max-width: 280px;
    justify-content: center;
    padding: 0px;
  }
  .moving-home>.book-now h3{
    font-size: 25px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  .moving-home>.book-now p{
    margin: 0px;
    width: 180px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  .moving-home{
    border-radius: 40px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-content.book_now_btn{
    padding-left: 15% !important;
    padding-right: 15% !important;

  }

}
/* media */
@media only screen and (max-width: 1500px) {

}
@media only screen and (min-width: 1070px) {
    .men .men_count .number_panel{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media only screen and (max-width: 1170px) {
.right_panel > div .hour >div, .right_panel > div .minute >div{
    padding-left: 15px ;
    padding-right: 15px;
}
.right_panel > div .hour >div > p, .right_panel > div .minute >div > p{
    top: 167px !important;

}
.right_panel > div .hour >div > h1, .right_panel > div .minute >div > h1{
    font-size: 100px !important;
    line-height: 85px !important;
}
.men.car div>div>img{
    width: 270px !important;
}
.header_text h2{
    font-size: 25px !important;
}
.header_text h6{
    font-size: 13px;
}
.col-md-28 h1, .header_text_right h1{
    font-size: 32px !important;
}
}
@media only screen and (max-width: 1240px) {

}
@media only screen and (max-width: 835px) {
.ml-md-5{
    margin-left: 0px  !important;
}
}
@media only screen and (max-width: 940px) {
.section_content.main_body .right_content{
    padding-top: 0px !important;
}

}

@media only screen and (min-width: 771px) and (max-width: 1240px) {
    #quote_btn{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .men .men_count .number_panel{
        padding-left: 20px !important; 
        padding-right: 20px !important;
    }
    .men .men_count .number_panel h1{
        font-size: 100px !important;
        line-height: 85px !important;
    }
}

.dot{
    width: 13px;
    height: 13px;
    background-color: white;
    display: block;
    border-radius: 100%;
    margin-right: 2px;

}
.three-dot{
    display: flex;
    align-items: center;
}
.call{
    width: 68px;
height: 29px;

border-radius: 9px;


background: #ffffff;

font-family: "Arial Black";
font-size: 12px;
font-weight: normal;
font-style: normal;
align-items: center;
    display: flex;
    justify-content: center;
/* letter-spacing: -25px; */
color: #353da3;
}
.display-sm .dashboard.main_content{
    background-color: #353da3;
    padding: 20px 19%;
}
.display-sm .logo-text{
    text-align: center;
    color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}
.display-sm .main_content >div> img{
    width: 100%;
}
.display-sm .banner{
    padding-top: 33px;
}
.display-sm .main_content input{
    border-radius: 11px;
  font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #353da3;
    padding: 13px 18px;
    text-align: center;
    margin-bottom: 0.5rem;
}

.display-sm .main_content input[type="text"]::-webkit-input-placeholder {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #353da3;
}
.display-sm .main_content .warning{
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    color: white;
    text-decoration: underline;
}
.display-sm{
    display: none;
}
#quote_btn{
    background-color: white;
    border-radius: 11px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #353da3;
    padding: 13px 20px;
}
.get-quote{
    display: flex;
    justify-content: center;
}
.main_content div.courier{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_content div.courier img{
    width: 40%;
}
footer .display-sm > div{
    /* background-color: #14205d;
    display: flex;
    justify-content: center; */

}
footer .display-sm img{
    width: 100%;
}
header .menu a{
    /* transform: scaleY(2); */

}
header .menu{
    font-family: "Impact", Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    position:absolute;
    background-color: #353da3;
    font-size: 38px;
    display: flex;
    flex-direction: column;
    padding: 20px 19%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
    width: 100%;
    line-height: 60px;
    left: 0px;
    z-index: 2;
}
header .menu.show{
    opacity: 1;
    height: auto;
    transition: opacity 0.3s ease, height 0.3s ease;
}
#dropdown-frame-mobile{
    position: absolute;
       background-color: white;
        border-radius: 0.5rem;
           display:none;
            z-index: 1;
    width: 120%;
    left: -10%;
    
}
.main_content .categories .category img{
    width: 30px !important;
}

.main_content .categories .category h6{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #8B8B8B;
}
.main_content .categories .category{
    height: auto;
    padding-left: 12%;
    padding-right: 0px;
}
.main_content .categories{
    position: relative;
}
.header-logo .logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-logo .logo img{
max-width: 257px;
width: 100%;
}
.header-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 0px;
    
}

header{
    margin-bottom: 5px;
}
.top-content{
    background-color: #353da3;
    color: white;
    margin-bottom: 20px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;


}
.top-content .text{
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
    padding-bottom: 8px;
}
.top-content .book-now{
    font-size: 20px;
    font-weight: bold;
    padding: 16px 38px;
    background-color: white;
    color: #353DA3;
    border-radius: 20px;
}

.display-sm .content-wrapper{
    background-color: #353DA3;
    border-radius: 0px;
}
.display-sm .input-block{
    margin-bottom: 10px;
}
.send_message{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #353DA3;
    border-radius: 10px;
    background-color: white;
}
.container.content-wrapper .bottom-text{
    font-size: 13px;
    font-weight: bold;
    color: white;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    margin-bottom: 150px;
}

.bg-white-mobile .call{
background-color: #353DA3;
color: white;
}
.bg-white-mobile .dot{
    background-color: #353DA3;
}
.bg-white-mobile .header-logo .logo-text{
    color: #353DA3;
}
.bg-white-mobile{
    background-color: #353DA3 ;
}
.turst_img > img{
    width: 40%;
}
.turst_img{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.bottom-buttons .view_item{
    position: absolute;
    bottom: 6px;
    right: 0px;
    background-color: #353DA3;
    padding: 7px;
    font-size: 12px;
    color: white;
    border-radius: 8px;
}
.bottom-buttons{
    position: relative;
}
